.user-container {
  background-color: lightgreen;
  padding: 10px;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

#user-img {
  height: 40%;
  width: 50%;
  border-radius: 70%;
}
